/.idea
/bitrix

/local/test
/upload
/test.php

/*.txt
/*.gif
/*.png
/*.jpg
/*.jpeg
/*.JPG

*.css.map
*.js.map
*.zip
*.gzip
*.gz
*.tgz
*.tar
*.gz.[0-9]
*.log
*.mp3
*.exe
*.db
*.csv
*.xml
*.psd
*.[oa]
*~
